body {
    color:#3D7892;
    font-family: Helvetica, Arial;
    box-sizing: border-box;
    background-color: #32E3DB;
  }
  
  main {
    width: 90%;
    max-width: 1080px;
    padding: 40px 0 0;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 3.75em;
  }
  